.cards img{
    height: 300px;
}
.cards{
max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}
.cards h1{
  text-align: left;
  margin: 50px;
  color: #646464;
}
.cards h2{
  /* text-align: left; */
  margin-bottom: 50px;
  /* color: #646464; */
}