.first {
	height: 50vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("../../public/aboutf.jpg");
	background-size: cover; /* or 'contain' for a different scaling option */
	background-repeat: no-repeat;
	background-blend-mode: darken 50%;
	background-position: center;
}
.first::before {
	content: "About Us";
	position: absolute;
	top: 39%;
	left: 14%;
	transform: translate(-50%, -50%);
	color: #fff; /* Set the text color */
	font-size: 48px; /* Set the font size */
	font-family: poppins;
	font-weight: 400;

	/* Other text styles can be added as needed */
}
.firstdata {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 60%;
	margin: 50px 0 50px 0;
}
.firstdata h1 {
	font-family: poppins;
	font-weight: bolder;
	font-size: 32px;
	margin-left: 80px;
	margin-right: 80px;
	margin-bottom: 30px;
}
.firstdata p {
	font-family: poppins;
	font-size: 16px;
	margin-left: 80px;
}

.second {
	height: 50vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("../../public/abouts.jpg");
	background-size: cover; /* or 'contain' for a different scaling option */
	background-repeat: no-repeat;
	background-position: center;
}
.second::before {
	content: "Our Mission";
	position: absolute;
	top: 139%;
	left: 15%;
	transform: translate(-50%, -50%);
	color: #fff; /* Set the text color */
	font-size: 48px; /* Set the font size */
	font-family: poppins;
	font-weight: 400;
	/* Other text styles can be added as needed */
}

.seconddata {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 60%;
	margin: 50px 0 50px 0;
}
.seconddata h1 {
	font-family: poppins;
	font-weight: bolder;
	font-size: 32px;
	margin-left: 80px;
	margin-right: 80px;
	margin-bottom: 30px;
}
.seconddata p {
	font-family: poppins;
	font-size: 16px;
	margin-left: 80px;
}
@media (max-width: 600px) {
	.first {
		height: 30vh;
	}
	.first::before {
		top: 29%;
		left: 34%;
	}
	.firstdata {
		width: 90vw;
		font-size: 20px;
	}
	.firstdata h1 {
		margin-left: 10vw;
		font-size: 24px;
	}
    .firstdata p{
        margin-left: 10vw;
    }
    .second {
        height: 30vh;
    }
	.second::before {
        top: 130%;
		left: 39%;

	}
    .seconddata {
        width: 90vw;
        font-size: 20px;
    }
    .seconddata h1 {
        margin-left: 10vw;
        font-size: 24px;
    }
    .seconddata p{
        margin-left: 10vw;
    }
}
