.text-center{
    text-decoration: none;
    padding: 10px;
}   

.list-unstyled {
    width: 200px;    text-align: left;
    
    
}

.list-unstyled a{
 
    text-decoration: none;
}
.footer-logo img{
    height: 100px;
    width: auto;
}

.footer-links {
    /* line-height: 50px; */
    width: 1200px;
    letter-spacing: 1px;
    /* word-spacing: 3px; */
    display: flex;
    justify-content: space-between;
}



h5{
    text-align: left;
}

.footer-logo{
    margin: 20px 50px 20px 50px;
    justify-content: space-between;
    display: flex;
}

.download img{
    margin: 20px;
    display: flex;
    flex-direction: column;
    height: 50px;

}
 
.social{
    
    align-items: center;
    margin: 20px;
}
.fb, .li, .ig, .x{
    cursor: pointer;
    margin: 15px;
}
.ig:hover{
color:#cd201f;
}
.fb:hover{
color:#0866ff;
}
.li:hover{
color:#0072b1;
}
.x:hover{
color:#00acee;
}
